contourpy==1.0.6
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.38.0
future==0.18.2
importlib_resources==6.4.4
joblib==1.2.0
-e git+https://github.com/madolphe/simu_bavelier.git@8c6a5cc4dbb52fc4bc3a9229c0c7ec23b5b214eb#egg=kidlearn_lib&subdirectory=teachers/kidlearn
kiwisolver==1.4.4
lml==0.1.0
matplotlib==3.6.2
numpy==1.24.0
openpyxl==3.0.10
packaging==22.0
pandas==2.0.3
Pillow==9.3.0
progress==1.6
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2024.1
scikit-learn==1.2.0
scipy==1.9.3
six==1.16.0
threadpoolctl==3.1.0
tzdata==2024.1
XlsxWriter==3.0.3
zipp==3.20.0
